# 1. 拦截所有机密配置文件
.env
*.env
secret_key.txt
user_profile.json
修改后更新服务器操作.md

# 2. 拦截 Python 虚拟环境与依赖缓存
venv/
.venv/
__pycache__/

venv/
cert/
*.bak
nginx_reviagent.conf
requirements.txt
chroma_db/

*.pyc

# 3. 拦截本地产生的向量数据库文件和临时日志
chroma_db/
*.log

# 4. 拦截操作系统自带的隐藏垃圾文件
.DS_Store
Thumbs.db

